<div class="row">
  <div class="col-4 offset-1">
      <h3 class="text-center">Desarrollo de Productos</h3>
      <hr>
        <div class="card" *ngFor="let producto of productosSinDesarrollar">
          <div class="card-block">
            <div class="row">
              <img  src="assets/img/box.png" style="height:40px;margin-left:10px;">

              <div class="col-6">
                <h4 class="card-title">{{producto.nombreProd}}</h4>
              </div>
              <!-- <div class=" col-3 ">
                <button type="button" class="btn btn-success" (click)= "agregarMaquinaria(maquina)"><i class="fa fa-plus" aria-hidden="true"></i></button>
              </div> -->
            </div>
          </div>
        </div>

  </div>

  <div class="offset-2 col-4">
    <div class="row" style="height:200px;overflow:scroll">
      <div class="col-12">
        <h3 style="text-center">Productos Desarrollados</h3>
        <hr>
        <div class="card" *ngFor="let producto of productosDesarollados">
          <div class="card-block">
            <div class="row">
              <img  src="assets/img/box.png" style="height:40px;margin-left:10px;">

              <div class="col-6">
                <h4 class="card-title">{{producto.nombreProd}}</h4>
              </div>
              <!-- <div class=" col-3 ">
                <button type="button" class="btn btn-success" (click)= "agregarMaquinaria(maquina)"><i class="fa fa-plus" aria-hidden="true"></i></button>
              </div> -->
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <h2>Productos en Desarrollo</h2>
      <hr>
      <div class="card" *ngFor="let producto of productosEnDesarrollo">
        <div class="card-block">
          <div class="row">
            <img  src="assets/img/box.png" style="height:40px;margin-left:10px;">

            <div class="col-6">
              <h4 class="card-title">{{producto.nombreProd}}</h4>
            </div>
            <!-- <div class=" col-3 ">
              <button type="button" class="btn btn-success" (click)= "agregarMaquinaria(maquina)"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="card-columns" >
  <div class="card" *ngFor="let producto of productosSinDesarrollar">
    <img class="card-img-top img-fluid col-6 offset-3 center-block" style="margin-top:30px;" src="assets/img/box.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">{{producto.nombreProd}}</h4>
      <p class="card-text">
        Costo de Desarrollo por Perido: {{producto.costoDes}}
        <br>
        Timepo de Desarrollo: {{producto.tiempoDes}}
        <br>
      </p>

    </div>
    <div class="card-footer">
      <div  class="btn btn-primary col-12" (click) ="desarrollar(producto.idProducto,producto.costoDes)">Comenzar a Desarrollar</div>
    </div>
  </div>

</div> -->


<!-- <div class="card-columns" >
  <div class="card" *ngFor="let producto of productosEnDesarrollo">
  <img class="card-img-top img-fluid col-6 offset-3 center-block" style="margin-top:30px;" src="assets/img/box.png" alt="Card image cap">
    <div class="card-block">
        <h2 class="text-center card-title">{{producto.nombreProd}}</h2>
      <p class="card-text">
        Inicio de Desarrollo: {{producto.periodoInicio}}
        <br>
        Tiempo en Desarrollo: {{producto.periodosDes}}
        </p>

    </div>
    <div class="card-footer">
      <div  class="btn btn-primary col-12" (click) ="pagarDesarrollo(producto.idProducto,producto.costoDes)">Pago de Desarrollo</div>
    </div>
  </div>

</div> -->








<!-- <div class="card-columns" >
  <div class="card" *ngFor="let producto of productosDesarollados">
  <img class="card-img-top img-fluid col-6 offset-3 center-block" style="margin-top:30px;" src="assets/img/box.png" alt="Card image cap">
    <div class="card-block">
        <h2 class="text-center card-title">{{producto.nombreProd}}</h2>
      <p class="text-center card-text">
        Producto desarrollado
    </div>
  </div>

</div> -->
