<div *ngIf="usuario">
<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top navbar-inverse" style="background-color:#007CB9;height:110px;">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">


    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar-brand" style="margin-left:50px;">
       <img class="img-fluid rounded-circle" style="width:10%;"
       src="assets/img/user.png"> {{usuario.nombreUsuario}} {{usuario.apPat}}
  </span>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <button style="margin-left:60%;" class="navbar-right btn btn-danger my-2 "><i class="fa fa-bell fa-lg"></i></button>
      <button style="margin-left:30px;" class="btn btn-success my-2 " (click)="logOut()"><i class="fa fa-sign-out fa-lg"></i></button>


  </div>
</nav>
</div>
