<div class="container">
<div class="row">

      <div class="col-4">
        <div class="card card-inverse card-success mb-3 text-center">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <div class="card-subtitle" style="font-size:20px">
                Efectivo Total
              </div>
              <div class="card-title" style="font-size:40px">
                {{balanceFinal[0].cajaBancos | currency:'USD':true:'1.0-0'}}
              </div>

            </blockquote>
          </div>
        </div>
      </div>

      <div class="col-4">
            <div class="card card-inverse card-danger text-center">
              <div class="card-block">
                <blockquote class="card-blockquote">
                  <div class="card-subtitle" style="font-size:20px">
                    Pago de Credito del Periodo
                  </div>
                  <div class="card-title" style="font-size:40px">
                    $1,000,000,000
                  </div>
                </blockquote>
              </div>
            </div>
        </div>

        <div class="col-8">
          <div class="card card-inverse card-primary text-center">
            <div class="card-block">
              <div class="card-header">
                <h4 class="col-12 text-center">Capacidad de Producción</h4>
              </div>
              <blockquote class="card-blockquote">

                <div class="col-12" >
                  <nvd3 [options]="options" [data]="data"></nvd3>
                </div>
              </blockquote>
            </div>
          </div>

        </div>

      <div class="col-4">

                    <div class="card card-inverse card-danger text-center" style="height:550px">
                      <div class="card-block">
                        <div class="card-header">
                          <h4 class="col-12 text-center">Maquinas Compradas</h4>
                        </div>
                        <blockquote class="card-blockquote">
                          <div class="col-12" *ngFor="let maquina of maquinasCompradas"
                          style="background-color:#007CB9;margin-top:10px; padding-top:5px;border-radius:20px">
                            <div class="row align-items-center" >
                              <div class="col-3">
                                <img  src="assets/img/box.png" class="img-fluid ">
                              </div>
                              <div class="col-9">
                                <div class="row">
                                  <h4 class="text-left col-12">{{maquina.nombreMaq}}</h4>
                                  <h5 class="text-left col-12">Producción: {{maquina.cantidadProd}}u</h5>
                                </div>
                              </div>
                            </div>



                          </div>
                        </blockquote>
                      </div>
                    </div>
          </div>

          <div class="col-6" style="margin-top:30px">
            <ngl-tabs [(selected)]="selectedTabProd" type="scoped">

              <ng-template ngl-tab heading="Productos Desarrollados">
                Productos Desarrollados
              </ng-template>

              <ng-template ngl-tab heading="Productos en Desarrollo">
                Productos en Desarrollo
              </ng-template>


            </ngl-tabs>

          </div>

          <div class="col-6" style="margin-top:30px">
            <ngl-tabs [(selected)]="selectedTabZona" type="scoped">

              <ng-template ngl-tab heading="Zonas Desarrolladas">
                You have  details.
              </ng-template>

              <ng-template ngl-tab heading="Zonas en Desarrollo">
                You have  details.
              </ng-template>


            </ngl-tabs>

          </div>



  </div>







</div>
