<div class="container">
  <div class="row">
    <h2 class="col-4 offset-4 text-center">Maquinarias</h2>
    <button type="button" (click)="openNew()" class="btn btn-warning col-1 offset-3">Agregar</button>

  </div>

  <hr>
  <div class="text-center" *ngFor="let alert of alerts" style="z-index:10000;width:100%; ">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout"><h3>{{ alert.msg }}</h3></alert>
  </div>
</div>




<div class="container" style="overflow:scroll; height:1000px;">



<!-- Card para Maquinarias -->
<div class="card-columns">
  <div class="card" *ngFor="let maquina of maquinas">
    <div class="card-block">
      <div class="row">
        <img src="assets/img/machine.png" alt="Card image cap" style="height:70px;margin-top:20px; margin-left:20px;margin-bottom:20px;">

        <div class="col-8">
          <h4 class="card-title">{{maquina.nombreMaq}}</h4>

          <h6 class="card-subtitle " style="margin-bottom:15px"><b>Costo:</b> {{maquina.costo | currency:'USD':true }}</h6>
          <h6 class="card-subtitle " style="margin-bottom:15px"><b>Producción:</b> {{maquina.cantidadProd}}u</h6>
          <h6 class="card-subtitle " style="margin-bottom:15px"><b>Producto:</b> {{getNameById(maquina.Producto_idProducto)}}</h6>

        </div>
      </div>

      <div class="card-footer">
        <div  class="btn btn-primary offset-1 col-4" (click)="openEdit(maquina)">Editar</div>
        <button type="button" class="btn btn-danger  col-5 offset-1" (click)="confDelete(maquina)" >Eliminar</button>

      </div>

    </div>

  </div>

</div>

</div>




<!--         Formulario de Edicion------------------------------->

<!-- <ng-template #editModal let-c="close" let-d="dismiss"  >
  <div class="modal-header">
    <h4 class="modal-title">Editar Maquinaria</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <


      </div>

</ng-template> -->

<div ngDraggable bsModal #modalEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="col-12 text-center">Edita Maquinaria</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm" (ngSubmit)="editaMaquina(editForm.value)" class="offset-1"  >

          <div class="form-group row text-center" >
            <label class="col-5 col-form-label">Nombre</label>
            <div class="col-6 has-success"
            [ngClass]="{'has-danger': !editForm.get('nombreMaq').valid}">


              <input class="form-control"
                     type="text"
                     formControlName="nombreMaq" >
                     <div class="form-control-feedback" style="font-size:10px;"
                     *ngIf="!editForm.controls['nombreMaq'].valid">
                       El nombre es requerido
                     </div>
            </div>
          </div>



          <div class="form-group row text-center" >
            <label class="col-5 col-form-label">Costo</label>

            <div class="input-group col-6 has-success " [ngClass]="{'has-danger': !editForm.get('costo').valid}">
                <span class="input-group-addon">$</span>
                <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                formControlName="costo">



            </div>
            <div class="form-control-feedback offset-6 text-center col-4" style="font-size:10px;"
            [ngClass]="{'has-danger': !editForm.get('costo').valid}"
            *ngIf="!editForm.controls['costo'].valid">
              El costo es requerido
            </div>
          </div>



        <div class="form-group row text-center" >
          <label class="col-5 col-form-label">Depreciación</label>

          <div class="input-group col-6 has-success " [ngClass]="{'has-danger': !editForm.get('depAcum').valid}">
              <span class="input-group-addon">%</span>
              <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
              formControlName="depAcum">



          </div>
          <div class="form-control-feedback offset-6 text-center col-4" style="font-size:10px;"
          [ngClass]="{'has-danger': !editForm.get('depAcum').valid}"
          *ngIf="!editForm.controls['depAcum'].valid">
            El porcentaje es requerido
          </div>
        </div>



        <div class="form-group row text-center" >
          <label class="col-5 col-form-label">Capacidad en Unidades</label>

          <div class="input-group col-6 has-success " [ngClass]="{'has-danger': !editForm.get('cantidadProd').valid}">
              <span class="input-group-addon">%</span>
              <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
              formControlName="cantidadProd">



          </div>
          <div class="form-control-feedback offset-6 text-center col-4" style="font-size:10px;"
          [ngClass]="{'has-danger': !editForm.get('cantidadProd').valid}"
          *ngIf="!editForm.controls['cantidadProd'].valid">
            La cantidad es requerida
          </div>
        </div>

          <div class="form-group row">
            <label class="col-5 col-form-label text-center">Producto: </label>
            <!-- <div class="col-6">
              <select formControlName="Producto_idProducto">
                <option *ngFor="let option of selectValue" [selected]="option.value==selected.value" value={{option.value}}>{{option.label}}</option>
              </select>
            </div> -->

            <div class="col-6 " >
              <select formControlName="Producto_idProducto" class="form-control" >
                <option *ngFor="let option of selectValue" [selected]="option.value==selected.value" value={{option.value}}>{{option.label}}</option>
              </select>
              <div class="form-control-feedback text-center " style="font-size:10px;"
              [ngClass]="{'has-danger': !editForm.get('Producto_idProducto').valid}"
              *ngIf="!editForm.controls['Producto_idProducto'].valid">
                Debes seleccionar un producto
              </div>
            </div>



          </div>



              <div class="modal-footer">
                <button type="submit" class="btn btn-outline-success" [disabled]="!editForm.valid" >
                  Guardar
                </button>

                <button  type="button" class="btn btn-outline-danger" (click)="modalEdit.hide()">
                Cancelar
                </button>

              </div>
        </form>

      </div>
    </div>
  </div>
</div>





<!--- Boton para abrir formulario par agregar nueva maquinaria -->



<!-- Formulario para agregar un nuevo producto -->

<!-- <ng-template #newModal let-c="close" let-d="dismiss"  >
  <div class="modal-header">
    <h4 class="modal-title">Agregar Maquinaria</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">





      </div>

</ng-template> -->


<div ngDraggable bsModal #modalNew="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="col-12 text-center">Agrega Maquinaria</h4>
      </div>
      <div class="modal-body">

        <form [formGroup]="newForm" (ngSubmit)="guarda(newForm.value)" class="offset-1" >



            <div class="form-group row text-center" >
              <label class="col-5 col-form-label">Nombre</label>
              <div class="col-6 has-success"
              [ngClass]="{'has-danger': !newForm.get('nombreMaq').valid}">


                <input class="form-control"
                       type="text"
                       formControlName="nombreMaq" >
                       <div class="form-control-feedback" style="font-size:10px;"
                       *ngIf="!newForm.controls['nombreMaq'].valid">
                         El nombre es requerido
                       </div>
              </div>
            </div>



            <div class="form-group row text-center" >
              <label class="col-5 col-form-label">Costo</label>

              <div class="input-group col-6 has-success " [ngClass]="{'has-danger': !newForm.get('costo').valid}">
                  <span class="input-group-addon">$</span>
                  <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                  formControlName="costo">



              </div>
              <div class="form-control-feedback offset-6 text-center col-4" style="font-size:10px;"
              [ngClass]="{'has-danger': !newForm.get('costo').valid}"
              *ngIf="!newForm.controls['costo'].valid">
                El costo es requerido
              </div>
            </div>



          <div class="form-group row text-center" >
            <label class="col-5 col-form-label">Depreciación</label>

            <div class="input-group col-6 has-success " [ngClass]="{'has-danger': !newForm.get('depAcum').valid}">
                <span class="input-group-addon">%</span>
                <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                formControlName="depAcum">



            </div>
            <div class="form-control-feedback offset-6 text-center col-4" style="font-size:10px;"
            [ngClass]="{'has-danger': !newForm.get('depAcum').valid}"
            *ngIf="!newForm.controls['depAcum'].valid">
              El porcentaje es requerido
            </div>
          </div>



          <div class="form-group row text-center" >
            <label class="col-5 col-form-label">Capacidad en Unidades</label>

            <div class="input-group col-6 has-success " [ngClass]="{'has-danger': !newForm.get('cantidadProd').valid}">
                <span class="input-group-addon">%</span>
                <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                formControlName="cantidadProd">



            </div>
            <div class="form-control-feedback offset-6 text-center col-4" style="font-size:10px;"
            [ngClass]="{'has-danger': !newForm.get('cantidadProd').valid}"
            *ngIf="!newForm.controls['cantidadProd'].valid">
              La cantidad es requerida
            </div>
          </div>


          <div class="form-group row">
            <label class="col-5 col-form-label text-center">Producto</label>
            <div class="col-6 " >
              <select formControlName="Producto_idProducto" class="form-control" >
                <option *ngFor="let option of selectValue" value={{option.value}}>{{option.label}}</option>
              </select>
              <div class="form-control-feedback text-center " style="font-size:10px;"
              [ngClass]="{'has-danger': !newForm.get('Producto_idProducto').valid}"
              *ngIf="!newForm.controls['Producto_idProducto'].valid">
                Debes seleccionar un producto
              </div>
            </div>
          </div>
                <div class="modal-footer">
                <button type="submit" class="btn btn-outline-success" [disabled]="!newForm.valid">
                  Guardar
                </button>

                <button  type="button" class="btn btn-outline-danger" (click)="modalNew.hide()">
                Cancelar
                </button>

              </div>
        </form>

      </div>
    </div>
  </div>
</div>




<div bsModal #modalConfDelete="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="col-12 text-center ">Confirmación</h4>
      </div>
      <div class="modal-body">


        <div class="row text-center">
          ¿Estas seguro que deseas eliminar la maquinaria "{{maquinaDelete.nombreMaq}}" ?
          <br>
        </div>
        <br>
        <div class="row">
          <button type="button" class="btn btn-danger offset-2 col-3"  (click)="borraMaquina(maquinaDelete.idMaquinaria)">Si</button>
          <button type="button" class="btn btn-primary offset-2 col-3" (click)="modalConfDelete.hide()">No</button>
        </div>


      </div>
    </div>
  </div>
</div>
