<!-- <div class="row">
    <h3 class="offset-4 col-4 text-center">Periodo Corriendo: {{periodo}}</h3>
    <button *ngIf="!opciones" type="button" class="btn btn-danger offset-1 col-2" (click)="openBalances()">Periodos</button>


</div>

  <div class="row">
    <button type="button" class="btn btn-primary col-4 offset-4" (click)="pasarPeriodo()">Correr Periodo</button>
  </div>
  <hr> -->

  <div style="z-index:10000;color:white;position:fixed; margin-top:-93px; margin-left:15%">
    <h4 class=" text-center">Periodo Corriendo: {{periodo}}</h4>
  </div>

  <button type="button" class="btn btn-success" (click)="pasarPeriodo()"
  style="z-index:10000;color:white;position:fixed; margin-top:-97px; margin-left:30%">Cerrar Periodo</button>
  <button  type="button" class="btn btn-info" (click)="openBalances()"
  style="z-index:1000000;color:white;position:fixed; margin-top:-97px; margin-left:40%">Periodos Anteriores</button>

  <!-- <accordion>
    <accordion-group #group [isOpen]="status.isOpen">
    <div accordion-heading>
      <h6 class="offset-4 col-4 text-center">Periodo Corriendo: {{periodo}}</h6>
      <i class="pull-right float-xs-right glyphicon"
         [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
    </div>

  </accordion-group>
  </accordion> -->




  <div bsModal #modalPeriodos="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"
  style="z-index:100000">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Periodos</h2>
        </div>
        <div class="modal-body">

          <div class="list-group" >
            <a class="list-group-item list-group-item-action " *ngFor="let p of periodos" (click)="transicion(p.numero)">{{p.nombre}}</a>



          </div>



              <div class="modal-footer">
                <button  type="button" class="btn btn-outline-danger" (click)="modalPeriodos.hide()">
                Cancelar
                </button>

              </div>

        </div>
      </div>
    </div>
  </div>

  <div bsModal #modalConf="bs-modal" class="modal fade" tabindex="-1" role="dialog" style="z-index:10000">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="">Confirmación</h4>
        </div>
        <div class="modal-body center-block text-center">


          <div class="row text-center offset-1">
            Datos listos
            <br>
          </div>
          <br>
          <div class="row">
            <button type="button" class="btn btn-danger offset-4 col-4" (click)="modalPasarPeriodo()" >Aceptar</button>
          </div>


        </div>
      </div>
    </div>
  </div>
