<h2 class="offset-1 col-4 text-center">Maquinas para Comprar</h2>
<hr>

<div class="row">
  <div class="offset-1 col-4">
    <div class="card" *ngFor="let maquina of maquinas" (click)="selectMaquinariaAdd(maquina)">
      <div class="card-block">
        <div class="row">
          <img  src="assets/img/machine.png" style="height:40px;margin-left:10px;">

          <div class="col-6">
            <h4 class="card-title">{{maquina.nombreMaq}}</h4>
          </div>
          <!-- <div class=" col-3 ">
            <button type="button" class="btn btn-success" (click)= "agregarMaquinaria(maquina)"><i class="fa fa-plus" aria-hidden="true"></i></button>
          </div> -->
        </div>
      </div>

    </div>


  </div>

  <div class="col-2">
    <button type="button" class="offset-1 col-10 btn btn-primary "
    (click) ="comprar(maqSelectedAdd.idMaquinaria, maqSelectedAdd.costo,maqSelectedAdd.depAcum)" style="margin-top:130px"><i class="material-icons">keyboard_arrow_right</i></button>
    <button type="button" class="offset-1 col-10 btn btn-danger " style="margin-top:50px"><i class="material-icons">keyboard_arrow_left</i></button>
  </div>

  <div class="col-4">


        <div class="card" *ngFor="let maquina of maquinasCompradas" >
          <div class="card-block">
            <div class="row">
              <img  src="assets/img/machine.png" style="height:40px;margin-left:10px;">

              <div class="col-6">
                <h4 class="card-title">{{maquina.nombreMaq}}</h4>
              </div>
              <!-- <div class="col-3 ">
                <button type="button" class="btn btn-success" (click)= "agregarMaquinaria(maquina)"><i class="fa fa-plus" aria-hidden="true"></i></button>
              </div> -->
            </div>
          </div>

        </div>






  </div>
</div>


<!-- <div class="card-columns">
  <div class="card" *ngFor="let maquina of maquinas" >
    <img class="card-img-top img-fluid col-6 offset-3 center-block" style="margin-top:30px;" src="assets/img/machine.png" alt="Card image cap">
    <div class="card-block">
      <h2 class="text-center card-title">{{maquina.nombreMaq}}</h2>
      <p class="card-text">Costo: {{maquina.costo}}
        <br>
        Producción: {{maquina.cantidadProd}} (unidades)
        <br>
        Producto: {{getNameById(maquina.Producto_idProducto)}}
      </p>


    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-danger col-12" (click) ="comprar(maquina.idMaquinaria,maquina.costo,maquina.depAcum)" >Comprar</button>
    </div>
  </div>

</div> -->


<!-- <h2>Maquinas Compradas</h2>
<hr>

<div class="card-columns">
  <div class="card" *ngFor="let maquina of maquinasCompradas">
    <img class="card-img-top img-fluid col-6 offset-3 center-block" style="margin-top:30px;" src="assets/img/machine.png" alt="Card image cap">
    <div class="card-block">
        <h2 class="text-center card-title">{{maquina.nombreMaq}}</h2>
      <p class="card-text">Costo: {{maquina.costo}}
        <br>
        Numero de Maquinas: {{maquina.Cantidad}}
        <br>
        Producción Total: {{maquina.cantidadProd * maquina.Cantidad}} (unidades)
        <br>
        Producto: {{getNameById(maquina.Producto_idProducto)}}
      </p>
    </div>

  </div>

</div> -->

<!-- <div class="col-6">
  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Primary card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

</div> -->
